body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
}
.quiz-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #398fda;
}
.question {
    margin-bottom: 20px;
}
input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #398fda;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #5b9eda;
}
img {
    width: 200px;
    position: relative;
}

.left-images {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.right-images {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.cinna {
    left: 50px;
}

.pip {
    right: 50px;
}

.deer {
    left: 50px;
}