/* Mobile Styles */
@media only screen and (max-width: 768px) {
    #header, #About {
        height: auto;
    }

    .header-text {
        margin-top: 10%;
        font-size: 24px;
    }

    .me-img {
        width: 100%;
        height: auto;
        position: static;
        margin-top: 20px;
    }

    .arrow, .arrow:before {
        display: none;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
        text-align: center;
    }

    .image-stack {
        display: block;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-text {
        font-size: 36px;
    }
}


*{
    margin:0;
    padding:0;
    font-family: 'Anuphan', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: #fff;
    color: #555555;
    letter-spacing: 0.5px;
}

hr{
    background-color:#9e9e9e;
    height: 1px;
    border:none;
    opacity:50%;
}

.secret-button {
    cursor: pointer;
}

#header, #about{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
}

#logo{
    color: #323684;
    cursor: pointer;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #323684;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    display: inline;
}


.header-text h1 span{
    color: #323684;
}

.NU{
    color: #4E2A84;
}

.link{
    text-decoration:none;
}

h1{
    color:#080808;
}

.my-name{
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-image: linear-gradient(
    -225deg,
    #323684 0%,
    #020504 29%,
    #99b0bc 67%,
    #ffae26 100%
    );
    animation: textclip 3s linear infinite;
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

.me-img{
    width: 378px;
    height: 425px;
    float: right;
    border-radius: 100%;
    position:relative;
    bottom: 175px;
    right:0px;
    animation: fadeIn 6s;
    -webkit-animation: fadeIn 6s;
    -moz-animation: fadeIn 6s;
    -o-animation: fadeIn 6s;
    -ms-animation: fadeIn 6s;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.arrow, .arrow:before{
    position:absolute;
    left:50%;
    animation: fadeIn 7s;
    -webkit-animation: fadeIn 7s;
    -moz-animation: fadeIn 7s;
    -o-animation: fadeIn 7s;
    -ms-animation: fadeIn 7s;
}
  

.arrow{
    width:40px;
    height:40px;
    bottom: 5%;
    margin:-20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top:none;
    border-left:none;
    border-bottom:2px #080808 solid;
    border-right:2px #080808 solid;
}

.arrow:before{
    content:'';
    height:20px;
    width:20px;
    top:50%;
    margin:-10px 0 0 -10px;
    border-top:none;
    border-left:none;
    border-bottom: 1px #080808 solid;
    border-right: 1px #080808 solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name:arrow;
}

@keyframes arrow{
    0% {opacity: 1;}
    100% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }
}

#About{
    padding: 100px 0px 0px 0px;
    height: 100vh;
}

.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.image-stack{
    display:grid;
    position:relative;
    grid-template-columns: repeat(12, lfr);
}

.image-bottom{
    grid-column: 4 / -1;
    grid-row: 1;
    display:block;
}

.image-top{
    grid-column: 2 / span 3;
    grid-row: 1;
    padding-top: 20%;
    z-index: 1;
    display:block;

}

.about-col-1 img{
    width:100%;
    border-radius: 7%;
}

.about-col-2{
    flex-basis:60%;
    line-height: 1.8;
    font-size: 18px;
}

#word{
    color:#080808;
}

.sub-title{
    font-size:60px;
    font-weight:600;
    color: #323684;
}

#services{
    padding: 30px 0;
}

.services-list{
    display:grid;
    grid: auto-flow / 1fr;
    margin-top:50px;
    text-align:center;
}

.services-img{
    width:100px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.services-img1{
    width:112px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.toolkit-header {
    font-size:40px;
    font-weight:400;
    color: #080808;
}

#animal {
    width: 300px;
    height: auto;
    bottom: 1%;
    position: absolute;
    animation: linear infinite;
    animation-direction: normal;
    animation-name: run;
    animation-duration: 4s;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 4s;
    transition: transform 1s ease-in-out;
  }
  @keyframes run {
    0% {
      left: -10%;
    }
    100% {
      left: 100%;    
    }
  }

  #animal.rotate {
    transform: rotate(360deg);
  }

  .toolkit {
    padding: 50px 0;
    text-align: center;
}

.toolkit-header {
    font-size: 40px;
    font-weight: 400;
    color: #080808;
    margin-bottom: 30px;
}

.toolkit-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
}

.toolkit-item {
    width: 80px;
    height: 80px;
    margin: 30px;
    position: relative;
    perspective: 1000px;
}

.toolkit-item i, img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s;
    color: #323684;
}

.toolkit-item:hover i {
    transform: rotateY(360deg);
}

.toolkit-item:hover img {
    transform: rotateY(360deg);
}

.ruby {
    width: 90%;
    height: 90%;
}

.rails {
    width: 120%;
    height: 120%;
}

.draggable {
    position: absolute;
    z-index: 10;
    text-align: center;
    cursor: move;
    width: 50px;
    height: 50px;
    
}

.hat {
    font-size: 150px;
}

.parrot {
    font-size: 80px;
}

#drawer {
    position: absolute;
    display: none;
    flex-direction: column;
}

#toggleButton {
    background-color: #323684;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}